
<template>
    <footer v-if="$nav.currentLayout !== 'cover'" class="absolute bottom-0 left-0 right-0 p-2">
        <div class="grid grid-cols-2 gap-4">
            <div class="flex items-center">
                <img src="/inria_logo.png" class="h-8" />
                <span class="pl-4">{{$slidev.configs.author}}</span> 
            </div>
            <div class="text-right">
                {{$nav.currentPage}} / <SlidesTotal />
            </div>
        </div>
    </footer>
</template>